@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --color-one: #F08B88;
  --color-two: #F2DAC7;
  --color-text: #232323;
  --bg-1: #EFEFEF;
  --bg-2: #DEE8EB;

  --font: "DM Sans", serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}